#body {
    background-color: rgb(46, 46, 46);
    height: 100%;
    margin: 0;
}

.nav {
    background-image: linear-gradient(to right, #fe6076, #f5ce62, #667eea, #84fab0);
    height: 7%;
}

.one:hover {
    color: #fe6076;
}

.two:hover {
    color: #f5ce62;
}

.three:hover {
    color: #667eea;
}

.four:hover {
    color: #84fab0;
}

.nav-link {
    font-size: 30px;
    font-weight: bold;
    color: rgb(46, 46, 46);
    font-family: 'Amatic SC', cursive;
}

#profileImage {
    position: absolute;
    top: 20%;
    left: 42%;
    height:330px;
    transform: rotate(90deg);
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}

#profileName {
    color: white;
    text-align: center;
}

.hr {
    border-top: 1px solid white;
}

.underImage {
    position: absolute;
    top: 60%;
    left: 17%;
    width: 70%;
}

.underImageInfo {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 75px;
}

#aboutMeTitle {
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #fe6076;
    text-align: center;
}

#aboutMeInfo {
    position: absolute;
    top: 100%;
    left: 17%;
}

#aboutMe {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 33px;;
}

#portfolioInfo {
    position: absolute;
    top: 150%;
    left: 17%;
}

#portfolio {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #f5ce62;
}

#tech {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #667eea;
}

#techInfo {
    position: absolute;
    top: 220%;
    left: 17%;
}

#icons {
    position: absolute;
    top: 235%;
    left: 17%;
}

#html {
    color: #fe6076;
    font-size: 100px;
}

#css {
    color: #667eea;
    font-size: 100px;
}

#js {
    color: #f5ce62;
    font-size: 100px;
}

#node {
    color: #84fab0;
    font-size: 100px;
}

#iconsRow {
    margin-left: 6%;
}

#textRow {
    margin-left: 4%;
}

#htmlText {
    color: #fe6076;
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
    margin-left: 1%;
}

#cssText {
    color: #667eea;
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
    margin-left: -5px;
}

#jsText {
    color: #f5ce62;
    margin-left: 4%;
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
}

#nodeText {
    color: #84fab0;
    margin-left: -7%;
    font-family: 'Amatic SC', cursive;
    font-size: 68px;
}

#contactDiv {
    position: absolute;
    top: 273%;
    left: 17%;
}

#contactInfo {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #84fab0;
}

#contactInfoDiv {
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.phoneAndEmail {
    font-size: 50px;
}

#resume {
    font-size: 50px;
    color: white;
}

#footer {
    background-image: linear-gradient(to right, #fe6076, #f5ce62, #667eea, #84fab0);
    height: 9%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 316%;
    left: 0%;
}

#contactIcons {
    font-size: 50px;
    margin: 15px;
    color: black;
}

#contactIcons:hover {
    color: rgb(59, 59, 59);
}

.profileImages {
    height: 150px;
}

.profileButtons {
    position: absolute;
    top: 115%;
    left: 17%;
}

#cocktailDiv {
    position: absolute;
    top: 165%;
    left: 18%;
}

#photoDiv {
    position: absolute;
    top: 165%;
    left: 41%;
}

#weatherDiv {
    position: absolute;
    top: 165%;
    left: 65%;
}

#plannerDiv {
    position: absolute;
    top: 190%;
    left: 18%;
}

#burgerDiv {
    position: absolute;
    top: 190%;
    left: 42%;
}

#passwordDiv {
    position: absolute;
    top: 190%;
    left: 65%;
}