#body {
    background-color: rgb(46, 46, 46);
}

.nav {
    background-image: linear-gradient(to right, #fe6076, #f5ce62, #667eea, #8E37D7);
    height: 7%;
}

.one:hover {
    color: #fe6076;
}

.two:hover {
    color: #f5ce62;
}

.three:hover {
    color: #667eea;
}

.four:hover {
    color: #8E37D7;
}

.nav-link {
    font-size: 30px;
    font-weight: bold;
    color: rgb(46, 46, 46);
    font-family: 'Amatic SC', cursive;
}

#profileImage {
    position: absolute;
    top: 20%;
    left: 43%;
    height:300px;
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}

#profileName {
    color: white;
    text-align: center;
}

.hr {
    border-top: 1px solid white;
}

.underImage {
    position: absolute;
    top: 60%;
    left: 17%;
    width: 70%;
}

.underImageInfo {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 75px;
}

#aboutMeTitle {
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #fe6076;
    text-align: center;
}

#aboutMeInfo {
    position: absolute;
    top: 100%;
    left: 17%;
}

#aboutMe {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 33px;;
}

#portfolioInfo {
    position: absolute;
    top: 150%;
    left: 17%;
}

#portfolio {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #f5ce62;
}

#tech {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    color: #667eea;
}

#techInfo {
    position: absolute;
    top: 200%;
    left: 17%;
}

#icons {
    position: absolute;
    top: 215%;
    left: 17%;
}

#html {
    color: #fe6076;
    font-size: 100px;
}

#css {
    color: #667eea;
    font-size: 100px;
}

#js {
    color: #f5ce62;
    font-size: 100px;
}

#node {
    color: #84fab0;
    font-size: 100px;
}

#iconsRow {
    margin-left: 6%;
}

#textRow {
    margin-left: 4%;
}

#htmlText {
    color: #fe6076;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    margin-left: 1%;
}

#cssText {
    color: #667eea;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

#jsText {
    color: #f5ce62;
    margin-left: 4%;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

#nodeText {
    color: #84fab0;
    margin-left: -7%;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}